.progress-bar-position{
    position: relative;
    top: -1.2%;
    z-index: 0;
}
body{
    background-color: rgb(255, 255, 255);
    width: 33%;
    height: 500px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.progress{
    width:100%;
    height: 15px;
    position: relative;
}

input{
    width: 400px;
    height: 60px;
}
label{
    color: red;
}
button{
    position: relative;
    width:30%;
    height: 10%;
    bottom: 5%;
}


.select{
    width: 300px;
    height: 140px;
    /* display: flex;
    align-items: center; */
    justify-content: center;
}
.select:hover{
    border: solid 2px rgb(21, 0, 251);
    cursor: pointer;
}
.text{
    position: relative;
    top: 20px;
}
@keyframes animation {
    from{
        width: 20%;
    }
    to {
        width: 40%;
    }
}

.progress-bar{
    animation-name: animation;
    animation-duration: 2s;
    width: 40%;
}
